@{
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="">
        <meta charset="utf-8">
        <title>Player</title>
    </head>
    <body>
        <p>This page will contain the player information, settings, achivements and what not.</p>
    </body>
</html>
}
